# Tunic Linux Installer for Windows
# Copyright (c) Michael Slattery under GPLv3 with NO warranty.
# For more info see  https://www.gnu.org/licenses/gpl-3.0.html#section15

# get values for iso_file
source '/boot/grub/grub.var.cfg'

set ALLUSERSPROFILE='/ProgramData'
set tunic_dir="${ALLUSERSPROFILE}/tunic"

set timeout=2

insmod part_gpt

menuentry "Tunic Automatic Linux Installer" {
    insmod ntfs
    search --set=root --file $iso_path
    loopback loop ($root)$iso_path

    echo 'Loading Linux kernel...'
    linux (loop)/casper/vmlinuz file=/isodevice${tunic_dir}/preseed.cfg automatic-ubiquity boot=casper iso-scan/filename=${iso_path} nomodeset toram noprompt --
    echo 'Loading ramdisk...'
    if [ -f (loop)/casper/initrd.lz ]; then
        initrd (loop)/casper/initrd.lz
    else
        initrd (loop)/casper/initrd
    fi

    echo 'Booting Linux...'
}

menuentry "Try out Linux without install" {
    insmod ntfs
    search --set=root --file $iso_path
    loopback loop ($root)$iso_path

    echo 'Loading Linux kernel...'
    linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=${iso_path} nomodeset toram noprompt --
    echo 'Loading ramdisk...'
    if [ -f (loop)/casper/initrd.lz ]; then
        initrd (loop)/casper/initrd.lz
    else
        initrd (loop)/casper/initrd
    fi

    echo 'Booting Linux...'
}

# TODO: menuentry "Abort Tunic Linux Installer"
# checkboxes for: remove grub files+nvram, expand C:, delete .iso

menuentry 'Microsoft Windows' {
    insmod fat
    set loader=/EFI/Microsoft/Boot/bootmgfw.efi
    search --set=root --file $loader
    chainloader ($root)$loader
}

menuentry 'Firmware Configuration' {
    fwsetup
}

