# Tunic Linux Installer for Windows
# Copyright (c) Michael Slattery under GPLv3 with NO warranty.
# For more info see  https://www.gnu.org/licenses/gpl-3.0.html#section15

# Partition

d-i ubiquity/partman-skip-unmount boolean true
d-i partman/unmount_active boolean false
d-i partman/filter_mounted boolean false

d-i partman-auto/disk string /dev/sd$( [char]((Get-Partition -driveletter $global:letter).diskNumber + 97) )
d-i partman-auto/choose_recipe select atomic
$( if( $dualBootRadio.checked ) { "d-i partman-auto/init_automatically_partition select biggest_free" } else { "" })
$( if( $fullBootRadio.checked ) { "d-i partman-auto/init_automatically_partition select Guided - use entire disk" } else { "" })
$( if( $fullBootRadio.checked ) { "d-i partman-auto/method string regular" } else { "" })

$( if( -not $customBootRadio.checked ) { "d-i partman-partitioning/confirm_write_new_label boolean true" } else { "" })
$( if( -not $customBootRadio.checked ) { "d-i partman/choose_partition select finish" } else { "" })
$( if( -not $customBootRadio.checked ) { "d-i partman/confirm boolean true" } else { "" })
$( if( -not $customBootRadio.checked ) { "d-i partman/confirm_nooverwrite boolean true" } else { "" })

# Locale

d-i debian-installer/locale string $( (get-culture).ietfLanguageTag.replace('-','_') ).UTF-8
d-i debian-installer/language string $( (get-culture).TwoLetterISOLanguageName )
d-i debian-installer/country string $( (New-Object System.Globalization.RegionInfo (Get-Culture).Name).TwoLetterISORegionName.toLower() )
d-i time/zone string $( getLinuxTimezone )
d-i clock-setup/utc boolean $( (-not $dualBootRadio.checked).toString().toLower() )

# Keyboard

d-i keyboard-configuration/xkb-keymap select us
d-i keyboard-configuration/layoutcode select us
d-i console-setup/ask_detect boolean false

# User

d-i passwd/user-fullname string $( $fullname.text )
d-i passwd/username string $( $username.text )
d-i passwd/user-password password $( $password.text )
d-i passwd/user-password-again passwo$rd $( $password.text )
d-i user-setup/allow-password-weak boolean true
d-i netcfg/get_hostname string $( $hostname.text )

# Packages

d-i base-installer/install-recommends boolean false
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

# Reboot

d-i finish-install/reboot_in_progress note
d-i ubiquity/reboot boolean true

